:root {
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0 auto;
    padding: 3rem 1rem;
    max-width: 375px;
    height: 100vh;
}

main {
    position: relative;
}

.waves {
    position: absolute;
    bottom: -17rem;
    left: -14rem;
}

.images {
    position: relative;
    padding-top: 2rem;
}

.slider {
    position: absolute;
    top: 18.5rem;
    left: 5.4rem;
    padding: 1rem;
    background-color: white;
    border-radius: 40px;
    display: flex;
}

.previous {
    float: left;
    margin-right: 3rem;
    padding-left: 0.2rem;
}

.next {
    padding-right: 0.2rem;
}

.pattern-bg {
    position: absolute;
    top: 0.2rem;
    left: -2rem;
    z-index: -9;
    filter: drop-shadow(5px 30px 40px var(--grayish-blue));
}

.pattern-bg {
    width: 105%;
}

.main-image {
    z-index: 100;
    width: 85%;
}

.feedback {
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    position: relative;
}

.quotes {
    width: 20%;
    position: absolute;
    top: 0.5rem;
    left: 7rem;
}

.feedback p:first-of-type {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
    color: var(--dark-blue);
    font-family: 'Inter', sans-serif;
}

.name,
.title {
    font-size: 1.1rem;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.name {
    font-weight: 700;
    font-family: 'Inter', sans-serif;
  
}

.title {
    color: var(--grayish-blue);
  
}

.hide {
    display: none;
}

footer {
    text-align: center;
}

