:root {
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    height: 100vh;
}

.container {
    width: 375px;
    margin: 4rem auto;
    position: relative;
}

.profile-image img {
    max-width: 100%;
}

.text {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 5rem;
    color: var(--dark-blue);
    line-height: 1.5;
}

.info {
    margin-top: 2rem;
    font-size: 1.2rem;
}

.info p:first-child {
    font-weight: bold;
}
.info p:nth-child(2) {
    color: var(--grayish-blue);
}

.pattern-bg {
    position: absolute;
    width: 120%;
    top: -2.5rem;
    right: -3rem;
    z-index: -1;
    filter: drop-shadow(-30px 10px 25px var(--grayish-blue));
}
.quotes {
    position: absolute;
    width: 20%;
    top: 27rem;
    left: 9rem;
}

.slider {
    position: absolute;
    background-color: white;
    top: 22rem;
    left: 8rem;
    z-index: 20;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    width: 6rem;
}
.previous,
.next {
    cursor: pointer;
}

.waves {
    position: fixed;
    left: -3rem;
    bottom: -2rem;
    z-index: -4;
}

.hide {
    display: none;
}

/* Media Queries */
@media(min-width: 1440px) {
    .container {
        display: flex;
        flex-direction: row;
        width: 80rem;
        padding: 1rem 2rem;
        position: relative;
    }

    .profile-image {
        order: 1;
        filter: drop-shadow(0 0 80px var(--grayish-blue));
    }

    .text {
        order: -1;
        flex-basis: 45%;
        margin-right: -4rem;
        padding-left: 4rem;
        z-index: 1000;
        font-size: 1.6rem;
        text-align: left;
    }

    .info {
        display: flex;
    }
    .info p:first-child {
        margin-right: 1rem;
    }

    .pattern-bg {
        width: 52%;
        top: -2.4rem;
        left: 32rem;
    }

    .quotes {
        width: 10%;
        top: 1.5rem;
        left: 9rem;
    }

    .slider {
        position: absolute;
        background-color: white;
        top: 33rem;
        left: 36rem;
        z-index: 2000;
    }

    .waves {
        left: 0;
        bottom: 0;
    }

    
}
