:root {
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);
    --font: 'Inter', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    font-size: 1rem;
    height: 100vh;
    background-image: 
        url("./images/pattern-bg.svg"),
        url("./images/pattern-quotes.svg"),
        url("./images/pattern-curve.svg");
    background-position: 
        50% 50%,
        75% 50%,
        bottom left;
    background-size: 85%, 35%, auto;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.hide {
    display: none;
}


